flows/NiFi_Kafka_Teradata_PutSQL.json
{"flowContents":{"identifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95","instanceIdentifier":"0984be22-0198-1000-0000-0000261e4275","name":"NiFi_Flow (1)","comments":"","position":{"x":-365.0,"y":-238.5},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"1854b6ef-e3b7-3d66-8272-0972f04665c3","instanceIdentifier":"aba7a65e-2abe-3834-8233-25a6572f0222","name":"LogAttribute","comments":"","position":{"x":-1736.0,"y":-1160.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"a85aa61d-0629-398a-bf27-e7aead7eb783","instanceIdentifier":"25f35cca-f4ab-3809-9b7c-c5140d25d9c1","name":"LogAttribute","comments":"","position":{"x":192.0,"y":-1888.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"ad5a5ffe-8481-35d9-98a2-f635357372f4","instanceIdentifier":"663da705-9bbb-3276-a891-8f1fc4544c85","name":"SplitJson","comments":"","position":{"x":-848.0,"y":-1656.0},"type":"org.apache.nifi.processors.standard.SplitJson","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Max String Length":"20 MB","Null Value Representation":"empty string","JsonPath Expression":"$"},"propertyDescriptors":{"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JsonPath Expression":{"name":"JsonPath Expression","displayName":"JsonPath Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"8f8a8b2e-8ad7-3cb6-88f3-597bf4a9f309","instanceIdentifier":"b537fa00-3200-3d68-aa99-cd500d9252dd","name":"LogAttribute","comments":"","position":{"x":-1192.0,"y":-1160.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"ef884afa-15b2-3658-ac21-3dc8d8e951f6","instanceIdentifier":"099a2c88-0198-1000-ffff-ffffa081f1f0","name":"LogAttribute","comments":"","position":{"x":853.0,"y":-1424.5},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"d3f26886-df84-3293-9cc5-af500d02b56d","instanceIdentifier":"c0ed9d76-d487-338b-8d48-951f66a62575","name":"PutSQL","comments":"","position":{"x":256.0,"y":-1432.0},"type":"org.apache.nifi.processors.standard.PutSQL","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Support Fragmented Transactions":"true","putsql-sql-statement":null,"Transaction Timeout":null,"Batch Size":"100","Obtain Generated Keys":"false","JDBC Connection Pool":"70c15db1-c33e-323a-96e5-1801e59a443f","database-session-autocommit":"false","rollback-on-failure":"false"},"propertyDescriptors":{"Support Fragmented Transactions":{"name":"Support Fragmented Transactions","displayName":"Support Fragmented Transactions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"putsql-sql-statement":{"name":"putsql-sql-statement","displayName":"SQL Statement","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Transaction Timeout":{"name":"Transaction Timeout","displayName":"Transaction Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Obtain Generated Keys":{"name":"Obtain Generated Keys","displayName":"Obtain Generated Keys","identifiesControllerService":false,"sensitive":false,"dynamic":false},"JDBC Connection Pool":{"name":"JDBC Connection Pool","displayName":"JDBC Connection Pool","identifiesControllerService":true,"sensitive":false,"dynamic":false},"database-session-autocommit":{"name":"database-session-autocommit","displayName":"Database Session AutoCommit","identifiesControllerService":false,"sensitive":false,"dynamic":false},"rollback-on-failure":{"name":"rollback-on-failure","displayName":"Rollback On Failure","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"3e5c80ce-0b70-30f6-b39c-1f6cfba4c97a","instanceIdentifier":"54f87307-2256-32fb-bca0-5c7343f5c430","name":"LogAttribute","comments":"","position":{"x":392.0,"y":-1184.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"6a4ffe67-4af8-3c32-b966-694b26eaaf63","instanceIdentifier":"ebdca1d6-8b9a-3473-bb8f-e9700133e5fb","name":"LogAttribute","comments":"","position":{"x":-648.0,"y":-1904.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"true"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"f9181262-d803-32f6-99b6-a06763ac9b16","instanceIdentifier":"097131cf-daa6-34a8-ad7a-719efd362e66","name":"UpdateAttribute","comments":"","position":{"x":-1552.0,"y":-1656.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"iris","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"00901716-4412-3939-80ed-a4bf4384728a","instanceIdentifier":"86fca3d4-7266-3055-ae30-af5229e38946","name":"EvaluateJsonPath","comments":"","position":{"x":-560.0,"y":-1416.0},"type":"org.apache.nifi.processors.standard.EvaluateJsonPath","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Destination":"flowfile-attribute","Max String Length":"20 MB","Return Type":"auto-detect","atr4":"$.atr4","atr3":"$.atr3","Null Value Representation":"empty string","atr2":"$.atr2","Path Not Found Behavior":"ignore","atr1":"$.atr1"},"propertyDescriptors":{"Destination":{"name":"Destination","displayName":"Destination","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max String Length":{"name":"Max String Length","displayName":"Max String Length","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Return Type":{"name":"Return Type","displayName":"Return Type","identifiesControllerService":false,"sensitive":false,"dynamic":false},"atr4":{"name":"atr4","displayName":"atr4","identifiesControllerService":false,"sensitive":false,"dynamic":true},"atr3":{"name":"atr3","displayName":"atr3","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Null Value Representation":{"name":"Null Value Representation","displayName":"Null Value Representation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"atr2":{"name":"atr2","displayName":"atr2","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Path Not Found Behavior":{"name":"Path Not Found Behavior","displayName":"Path Not Found Behavior","identifiesControllerService":false,"sensitive":false,"dynamic":false},"atr1":{"name":"atr1","displayName":"atr1","identifiesControllerService":false,"sensitive":false,"dynamic":true}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"bd668277-11f9-35fe-b2d1-2fa312501049","instanceIdentifier":"98159c23-70cc-31dd-bf85-f3d909989355","name":"ConvertRecord","comments":"","position":{"x":-1248.0,"y":-1408.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"b8ba49ff-f503-3519-b7ca-4edb9d0f9f3b","Record Reader":"1e54a6dc-2797-3079-9532-b04a3fb5c2f3"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"3552c567-a9e1-350b-8d54-44725ffb9ef3","instanceIdentifier":"a01e974a-8252-3eb4-8fe1-2d2634860343","name":"ConsumeKafka","comments":"","position":{"x":-1816.0,"y":-1400.0},"type":"org.apache.nifi.kafka.processors.ConsumeKafka","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-nar","version":"2.4.0"},"properties":{"Topics":"iris_topic","Commit Offsets":"true","Header Name Pattern":null,"Key Format":"byte-array","Key Record Reader":null,"Message Demarcator":",","Record Reader":"091deb5e-0198-1000-ffff-ffff9c83da60","Key Attribute Encoding":"utf-8","Topic Format":"names","Header Encoding":"UTF-8","Max Uncommitted Time":"100 millis","Kafka Connection Service":"58666a5b-3e86-34aa-8716-4d4da5ffe69a","Separate By Key":"false","Processing Strategy":"FLOW_FILE","Record Writer":"0927994a-0198-1000-0000-00000f3066cb","Group ID":"python_example_group_1","auto.offset.reset":"latest","Output Strategy":"USE_VALUE"},"propertyDescriptors":{"Topics":{"name":"Topics","displayName":"Topics","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Commit Offsets":{"name":"Commit Offsets","displayName":"Commit Offsets","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Name Pattern":{"name":"Header Name Pattern","displayName":"Header Name Pattern","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Format":{"name":"Key Format","displayName":"Key Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Record Reader":{"name":"Key Record Reader","displayName":"Key Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Message Demarcator":{"name":"Message Demarcator","displayName":"Message Demarcator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Key Attribute Encoding":{"name":"Key Attribute Encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Topic Format":{"name":"Topic Format","displayName":"Topic Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Header Encoding":{"name":"Header Encoding","displayName":"Header Encoding","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Uncommitted Time":{"name":"Max Uncommitted Time","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Kafka Connection Service":{"name":"Kafka Connection Service","displayName":"Kafka Connection Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Separate By Key":{"name":"Separate By Key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Processing Strategy":{"name":"Processing Strategy","displayName":"Processing Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Group ID":{"name":"Group ID","displayName":"Group ID","identifiesControllerService":false,"sensitive":false,"dynamic":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Auto Offset Reset","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Strategy":{"name":"Output Strategy","displayName":"Output Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"bb6bb8ab-c2bb-3a47-8d61-6c66b9a32133","instanceIdentifier":"f4908305-906b-3e35-b7db-cf5712744059","name":"ReplaceText","comments":"","position":{"x":-80.0,"y":-1648.0},"type":"org.apache.nifi.processors.standard.ReplaceText","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Regular Expression":"(?s)(^.*$)","Replacement Value":"insert into stg_iris (atr1, atr2, atr3, atr4) values ('${atr1}','${atr2}','${atr3}','${atr4}');","Evaluation Mode":"Line-by-Line","Text to Prepend":null,"Line-by-Line Evaluation Mode":"All","Character Set":"UTF-8","Maximum Buffer Size":"1 MB","Replacement Strategy":"Regex Replace","Text to Append":null},"propertyDescriptors":{"Regular Expression":{"name":"Regular Expression","displayName":"Search Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Value":{"name":"Replacement Value","displayName":"Replacement Value","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Evaluation Mode":{"name":"Evaluation Mode","displayName":"Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Prepend":{"name":"Text to Prepend","displayName":"Text to Prepend","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Line-by-Line Evaluation Mode":{"name":"Line-by-Line Evaluation Mode","displayName":"Line-by-Line Evaluation Mode","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Character Set":{"name":"Character Set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum Buffer Size":{"name":"Maximum Buffer Size","displayName":"Maximum Buffer Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Replacement Strategy":{"name":"Replacement Strategy","displayName":"Replacement Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Text to Append":{"name":"Text to Append","displayName":"Text to Append","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"5e51a3bd-29d0-3cb3-82a9-0d86d0427771","instanceIdentifier":"552bd138-5f3c-368a-95d7-448608c2b5b0","name":"LogAttribute","comments":"","position":{"x":-456.0,"y":-1168.0},"type":"org.apache.nifi.processors.standard.LogAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Log prefix":null,"character-set":"UTF-8","Log FlowFile Properties":"true","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Output Format":"Line per Attribute","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false,"dynamic":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log FlowFile Properties":{"name":"Log FlowFile Properties","displayName":"Log FlowFile Properties","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false,"dynamic":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Output Format":{"name":"Output Format","displayName":"Output Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"1d7c4b1a-f588-361a-9dcc-94f769def611","instanceIdentifier":"7e754af3-9fb9-3850-a9eb-5a96715b97ab","name":"","source":{"id":"bb6bb8ab-c2bb-3a47-8d61-6c66b9a32133","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"ReplaceText","comments":"","instanceIdentifier":"f4908305-906b-3e35-b7db-cf5712744059"},"destination":{"id":"d3f26886-df84-3293-9cc5-af500d02b56d","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"PutSQL","comments":"","instanceIdentifier":"c0ed9d76-d487-338b-8d48-951f66a62575"},"labelIndex":0,"zIndex":11,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"74c2e84a-ed49-38e3-880b-be86b501cf9e","instanceIdentifier":"0b4f324e-c20d-314c-9cb0-c77787ae72e7","name":"","source":{"id":"ad5a5ffe-8481-35d9-98a2-f635357372f4","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"SplitJson","comments":"","instanceIdentifier":"663da705-9bbb-3276-a891-8f1fc4544c85"},"destination":{"id":"00901716-4412-3939-80ed-a4bf4384728a","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"86fca3d4-7266-3055-ae30-af5229e38946"},"labelIndex":0,"zIndex":6,"selectedRelationships":["split"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"178adb18-4a35-3206-ad57-c1e1d5cb6aee","instanceIdentifier":"b74ce325-7be7-338c-b306-d185221da8e5","name":"","source":{"id":"3552c567-a9e1-350b-8d54-44725ffb9ef3","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"ConsumeKafka","comments":"","instanceIdentifier":"a01e974a-8252-3eb4-8fe1-2d2634860343"},"destination":{"id":"f9181262-d803-32f6-99b6-a06763ac9b16","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"UpdateAttribute","comments":"","instanceIdentifier":"097131cf-daa6-34a8-ad7a-719efd362e66"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"52e84c55-1987-309d-b523-57c810b47956","instanceIdentifier":"aa5ffd71-605f-3495-a2ff-32346d058024","name":"","source":{"id":"bd668277-11f9-35fe-b2d1-2fa312501049","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"ConvertRecord","comments":"","instanceIdentifier":"98159c23-70cc-31dd-bf85-f3d909989355"},"destination":{"id":"ad5a5ffe-8481-35d9-98a2-f635357372f4","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"SplitJson","comments":"","instanceIdentifier":"663da705-9bbb-3276-a891-8f1fc4544c85"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"555592ca-c482-3fbb-99a8-39423b4dd26c","instanceIdentifier":"6aa7606e-5853-3986-bad5-e8e83371db98","name":"","source":{"id":"00901716-4412-3939-80ed-a4bf4384728a","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"86fca3d4-7266-3055-ae30-af5229e38946"},"destination":{"id":"bb6bb8ab-c2bb-3a47-8d61-6c66b9a32133","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"ReplaceText","comments":"","instanceIdentifier":"f4908305-906b-3e35-b7db-cf5712744059"},"labelIndex":0,"zIndex":9,"selectedRelationships":["matched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"509183a5-9424-3b9f-a435-4ac20841152b","instanceIdentifier":"cc74f352-51ef-3e01-ae8c-af8409650c92","name":"","source":{"id":"ad5a5ffe-8481-35d9-98a2-f635357372f4","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"SplitJson","comments":"","instanceIdentifier":"663da705-9bbb-3276-a891-8f1fc4544c85"},"destination":{"id":"6a4ffe67-4af8-3c32-b966-694b26eaaf63","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"LogAttribute","comments":"","instanceIdentifier":"ebdca1d6-8b9a-3473-bb8f-e9700133e5fb"},"labelIndex":0,"zIndex":7,"selectedRelationships":["original","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"821869d5-d8d9-324a-b9db-5f28d988fc4b","instanceIdentifier":"f5744d87-6dc3-3ecc-a8b4-074f6f2bb388","name":"","source":{"id":"bd668277-11f9-35fe-b2d1-2fa312501049","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"ConvertRecord","comments":"","instanceIdentifier":"98159c23-70cc-31dd-bf85-f3d909989355"},"destination":{"id":"8f8a8b2e-8ad7-3cb6-88f3-597bf4a9f309","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"LogAttribute","comments":"","instanceIdentifier":"b537fa00-3200-3d68-aa99-cd500d9252dd"},"labelIndex":0,"zIndex":4,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"0700cff5-d926-3376-b839-ee009aaf0b7a","instanceIdentifier":"099a4573-0198-1000-0000-000030b61878","name":"","source":{"id":"d3f26886-df84-3293-9cc5-af500d02b56d","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"PutSQL","comments":"","instanceIdentifier":"c0ed9d76-d487-338b-8d48-951f66a62575"},"destination":{"id":"ef884afa-15b2-3658-ac21-3dc8d8e951f6","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"LogAttribute","comments":"","instanceIdentifier":"099a2c88-0198-1000-ffff-ffffa081f1f0"},"labelIndex":0,"zIndex":12,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"5c718298-c963-35bd-bbee-45bd0b6d6754","instanceIdentifier":"b182113c-b0a0-3f43-bd35-17f1faffef20","name":"","source":{"id":"bb6bb8ab-c2bb-3a47-8d61-6c66b9a32133","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"ReplaceText","comments":"","instanceIdentifier":"f4908305-906b-3e35-b7db-cf5712744059"},"destination":{"id":"a85aa61d-0629-398a-bf27-e7aead7eb783","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"LogAttribute","comments":"","instanceIdentifier":"25f35cca-f4ab-3809-9b7c-c5140d25d9c1"},"labelIndex":0,"zIndex":10,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"db592af4-47cb-3b60-b86b-5eccc8258ae7","instanceIdentifier":"42ea9532-a4e6-3c3b-930b-73325df40b4b","name":"","source":{"id":"00901716-4412-3939-80ed-a4bf4384728a","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"EvaluateJsonPath","comments":"","instanceIdentifier":"86fca3d4-7266-3055-ae30-af5229e38946"},"destination":{"id":"5e51a3bd-29d0-3cb3-82a9-0d86d0427771","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"LogAttribute","comments":"","instanceIdentifier":"552bd138-5f3c-368a-95d7-448608c2b5b0"},"labelIndex":0,"zIndex":8,"selectedRelationships":["failure","unmatched"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"99b30a48-4e07-39a3-8817-94013d80008d","instanceIdentifier":"099a7aa5-0198-1000-0000-000023f87bd0","name":"","source":{"id":"d3f26886-df84-3293-9cc5-af500d02b56d","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"PutSQL","comments":"","instanceIdentifier":"c0ed9d76-d487-338b-8d48-951f66a62575"},"destination":{"id":"3e5c80ce-0b70-30f6-b39c-1f6cfba4c97a","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"LogAttribute","comments":"","instanceIdentifier":"54f87307-2256-32fb-bca0-5c7343f5c430"},"labelIndex":0,"zIndex":13,"selectedRelationships":["failure","retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"ac31104f-869f-32bc-9367-ded403d62a16","instanceIdentifier":"fb3009e0-a5d0-3c01-88d0-248082356e22","name":"","source":{"id":"3552c567-a9e1-350b-8d54-44725ffb9ef3","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"ConsumeKafka","comments":"","instanceIdentifier":"a01e974a-8252-3eb4-8fe1-2d2634860343"},"destination":{"id":"1854b6ef-e3b7-3d66-8272-0972f04665c3","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"LogAttribute","comments":"","instanceIdentifier":"aba7a65e-2abe-3834-8233-25a6572f0222"},"labelIndex":0,"zIndex":2,"selectedRelationships":["parse failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"2daa4b8f-6729-331a-9d98-89d3d914279b","instanceIdentifier":"fc42192b-5ee4-3657-994a-964274befbf1","name":"","source":{"id":"f9181262-d803-32f6-99b6-a06763ac9b16","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"UpdateAttribute","comments":"","instanceIdentifier":"097131cf-daa6-34a8-ad7a-719efd362e66"},"destination":{"id":"bd668277-11f9-35fe-b2d1-2fa312501049","type":"PROCESSOR","groupId":"d3ee8768-ac43-3bc1-a662-852ceaefda95","name":"ConvertRecord","comments":"","instanceIdentifier":"98159c23-70cc-31dd-bf85-f3d909989355"},"labelIndex":0,"zIndex":5,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"6b34bc0a-4ae4-39fa-9a2b-b2f33c9aefe5","instanceIdentifier":"9949e6ae-db3d-374b-a1d1-4992cb05428b","name":"AvroSchemaRegistry","comments":"","type":"org.apache.nifi.schemaregistry.services.AvroSchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-registry-nar","version":"2.4.0"},"properties":{"iris":"{\n    \"type\": \"record\",\n    \"name\": \"IrisRecord\",\n    \"fields\": [\n        {\"name\":\"atr1\", \"type\": \"string\"},\n        {\"name\":\"atr2\", \"type\": \"string\"},\n        {\"name\":\"atr3\", \"type\": \"string\"},\n        {\"name\":\"atr4\", \"type\": \"string\"}\n    ]\n}","avro-reg-validated-field-names":"true"},"propertyDescriptors":{"iris":{"name":"iris","displayName":"iris","identifiesControllerService":false,"sensitive":false,"dynamic":true},"avro-reg-validated-field-names":{"name":"avro-reg-validated-field-names","displayName":"Validate Field Names","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.schemaregistry.services.SchemaRegistry","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"70c15db1-c33e-323a-96e5-1801e59a443f","instanceIdentifier":"098b96f2-0198-1000-ffff-ffffac92aeb7","name":"DBCPConnectionPool","comments":"","type":"org.apache.nifi.dbcp.DBCPConnectionPool","bundle":{"group":"org.apache.nifi","artifact":"nifi-dbcp-service-nar","version":"2.4.0"},"properties":{"dbcp-min-idle-conns":"0","Max Wait Time":"500 millis","Database Driver Class Name":"com.teradata.jdbc.TeraDriver","dbcp-min-evictable-idle-time":"30 mins","Max Total Connections":"8","dbcp-max-conn-lifetime":"-1","Validation-query":null,"Database Connection URL":"jdbc:teradata://34.159.173.255/DATABASE=demo_user","dbcp-time-between-eviction-runs":"-1","Database User":"demo_user","kerberos-user-service":null,"dbcp-soft-min-evictable-idle-time":"-1","database-driver-locations":"/opt/nifi/nifi-current/lib/terajdbc4.jar","dbcp-max-idle-conns":"8"},"propertyDescriptors":{"dbcp-min-idle-conns":{"name":"dbcp-min-idle-conns","displayName":"Minimum Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Wait Time":{"name":"Max Wait Time","displayName":"Max Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Driver Class Name":{"name":"Database Driver Class Name","displayName":"Database Driver Class Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-min-evictable-idle-time":{"name":"dbcp-min-evictable-idle-time","displayName":"Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Max Total Connections":{"name":"Max Total Connections","displayName":"Max Total Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-max-conn-lifetime":{"name":"dbcp-max-conn-lifetime","displayName":"Max Connection Lifetime","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Validation-query":{"name":"Validation-query","displayName":"Validation query","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database Connection URL":{"name":"Database Connection URL","displayName":"Database Connection URL","identifiesControllerService":false,"sensitive":false,"dynamic":false},"dbcp-time-between-eviction-runs":{"name":"dbcp-time-between-eviction-runs","displayName":"Time Between Eviction Runs","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Database User":{"name":"Database User","displayName":"Database User","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"dbcp-soft-min-evictable-idle-time":{"name":"dbcp-soft-min-evictable-idle-time","displayName":"Soft Minimum Evictable Idle Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"database-driver-locations":{"name":"database-driver-locations","displayName":"Database Driver Location(s)","identifiesControllerService":false,"sensitive":false,"dynamic":false,"resourceDefinition":{"cardinality":"MULTIPLE","resourceTypes":["URL","DIRECTORY","FILE"]}},"dbcp-max-idle-conns":{"name":"dbcp-max-idle-conns","displayName":"Max Idle Connections","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Password":{"name":"Password","displayName":"Password","identifiesControllerService":false,"sensitive":true,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.dbcp.DBCPService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"58666a5b-3e86-34aa-8716-4d4da5ffe69a","instanceIdentifier":"9d309b66-7009-3f3f-a3bf-2dea99ee9619","name":"Kafka3ConnectionService","comments":"","type":"org.apache.nifi.kafka.service.Kafka3ConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-3-service-nar","version":"2.4.0"},"properties":{"security.protocol":"PLAINTEXT","SSL Context Service":null,"ack.wait.time":"5 sec","sasl.username":null,"max.poll.records":"10000","sasl.mechanism":"GSSAPI","isolation.level":"read_committed","max.block.ms":"5 sec","bootstrap.servers":"http://kafka:9092","kerberos-user-service":null,"sasl.kerberos.service.name":null,"default.api.timeout.ms":"60 sec"},"propertyDescriptors":{"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.username":{"name":"sasl.username","displayName":"SASL Username","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false,"dynamic":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Bootstrap Servers","identifiesControllerService":false,"sensitive":false,"dynamic":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false,"dynamic":false},"SSL Context Service":{"name":"SSL Context Service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false,"dynamic":false},"isolation.level":{"name":"isolation.level","displayName":"Transaction Isolation Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"kerberos-user-service":{"name":"kerberos-user-service","displayName":"Kerberos User Service","identifiesControllerService":true,"sensitive":false,"dynamic":false},"sasl.password":{"name":"sasl.password","displayName":"SASL Password","identifiesControllerService":false,"sensitive":true,"dynamic":false},"default.api.timeout.ms":{"name":"default.api.timeout.ms","displayName":"Client Timeout","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.kafka.service.api.KafkaConnectionService","bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-service-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"db64a068-bd71-3c6b-946e-62ced6fe3ba1","instanceIdentifier":"d29b5d53-6e4f-3707-a503-39e565ed01a9","name":"VolatileSchemaCache","comments":"","type":"org.apache.nifi.schema.inference.VolatileSchemaCache","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"max-cache-size":"100"},"propertyDescriptors":{"max-cache-size":{"name":"max-cache-size","displayName":"Maximum Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSchemaCacheService","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"1e54a6dc-2797-3079-9532-b04a3fb5c2f3","instanceIdentifier":"37c990ec-d9d2-3d47-99a0-f28f0c9c5792","name":"CSVReader","comments":"","type":"org.apache.nifi.csv.CSVReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"ignore-csv-header":"false","schema-branch":null,"Trim double quote":"true","CSV Format":"custom","Quote Character":"\"","csvutils-allow-duplicate-header-names":"false","Value Separator":",","Record Separator":"\\n","Timestamp Format":null,"Escape Character":"\\","Date Format":null,"Null String":null,"Skip Header Line":"false","Trim Fields":"true","schema-name":"${schema.name}","schema-registry":"6b34bc0a-4ae4-39fa-9a2b-b2f33c9aefe5","csv-reader-csv-parser":"commons-csv","Time Format":null,"Comment Marker":null,"schema-access-strategy":"schema-name","schema-version":null,"csvutils-character-set":"UTF-8","schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"ignore-csv-header":{"name":"ignore-csv-header","displayName":"Ignore CSV Header Column Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim double quote":{"name":"Trim double quote","displayName":"Trim double quote","identifiesControllerService":false,"sensitive":false,"dynamic":false},"CSV Format":{"name":"CSV Format","displayName":"CSV Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Quote Character":{"name":"Quote Character","displayName":"Quote Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-allow-duplicate-header-names":{"name":"csvutils-allow-duplicate-header-names","displayName":"Allow Duplicate Header Names","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Value Separator":{"name":"Value Separator","displayName":"Value Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Separator":{"name":"Record Separator","displayName":"Record Separator","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Escape Character":{"name":"Escape Character","displayName":"Escape Character","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Null String":{"name":"Null String","displayName":"Null String","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Skip Header Line":{"name":"Skip Header Line","displayName":"Treat First Line as Header","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Trim Fields":{"name":"Trim Fields","displayName":"Trim Fields","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"csv-reader-csv-parser":{"name":"csv-reader-csv-parser","displayName":"CSV Parser","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Comment Marker":{"name":"Comment Marker","displayName":"Comment Marker","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"csvutils-character-set":{"name":"csvutils-character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"},{"identifier":"b8ba49ff-f503-3519-b7ca-4edb9d0f9f3b","instanceIdentifier":"aa43f0d3-d2d5-3d9a-82c7-b2e95992f155","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"2.4.0"},"properties":{"schema-reference-reader":null,"schema-branch":null,"Allow Scientific Notation":"false","compression-level":"1","schema-cache":"db64a068-bd71-3c6b-946e-62ced6fe3ba1","Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"schema-name","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":"6b34bc0a-4ae4-39fa-9a2b-b2f33c9aefe5","Time Format":null,"schema-access-strategy":"schema-name","schema-version":null,"schema-text":"${avro.schema}","Schema Reference Writer":null},"propertyDescriptors":{"schema-reference-reader":{"name":"schema-reference-reader","displayName":"Schema Reference Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Allow Scientific Notation":{"name":"Allow Scientific Notation","displayName":"Allow Scientific Notation","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false,"dynamic":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false,"dynamic":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Schema Reference Writer":{"name":"Schema Reference Writer","displayName":"Schema Reference Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"2.4.0"}}],"scheduledState":"DISABLED","bulletinLevel":"WARN","componentType":"CONTROLLER_SERVICE","groupIdentifier":"d3ee8768-ac43-3bc1-a662-852ceaefda95"}],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}